In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
import pymongo

from flask import (
    Flask,
    render_template)
    # jsonify,
    # request,
    # redirect)

#################################################
# Flask Setup
#################################################
app = Flask(__name__)

#################################################
# Database Setup
#################################################

conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.car_db

In [6]:
import pprint
pprint.pprint(db.cars.find_one())

{'': 0,
 '_id': ObjectId('5b60b1fd88d2336166b751ae'),
 'make': 'Hyundai',
 'mileage': 168,
 'mileage_bin': '<5k',
 'model': 'Accent',
 'price': 13879.0,
 'price_bin': '10k-20k',
 'trim': 'SE',
 'type': 'used',
 'year': 2017}

In [7]:
makes = db.cars.distinct("make")
print(makes)

['Hyundai', 'Scion', 'Mitsubishi', 'Rolls-Royce', 'Lamborghini', 'Dodge', 'Volkswagen', 'Chevrolet', 'Ford', 'Toyota', 'Saturn', 'Nissan', 'Kia', 'Buick', 'FIAT', 'Alfa', 'Genesis', 'Honda', 'INFINITI', 'Subaru', 'Mazda', 'smart', 'Maserati', 'Jaguar', 'Audi', 'Porsche', 'Volvo', 'Mercedes-Benz', 'Jeep', 'Chrysler', 'Ram', 'Cadillac', 'GMC', 'Lexus', 'BMW', 'MINI', 'Acura', 'Bentley', 'Land', 'Pontiac', 'Ferrari', 'Tesla', 'Isuzu', 'Oldsmobile', 'HUMMER', 'Lincoln', 'Aston']

In [8]:
models = db.cars.find({"make": "Audi"}).distinct("model")
print(models)

['Q7', 'A6', 'A4', 'S5', 'allroad', 'A3 Sportback e-tron', 'Q5', 'A3', 'TT', 'A5', 'Q3', 'A8', 'RS 5', 'A7', 'S6', 'RS 3', 'R8', 'S3', 'SQ5', 'S4']

In [9]:
price_bin = db.cars.distinct("price_bin")
print(price_bin)

['10k-20k', '5k-10k', '>100k', '20k-30k', '<5k', '40k-50k', '30k-40k', '70k-100k', '50k-70k', '']

In [10]:
mileage_bin = db.cars.distinct("mileage_bin")
print(mileage_bin)

['<5k', '45k-60k', '>90k', '60k-75k', '30k-45k', '15k-30k', '75k-90k']

In [33]:
years = db.cars.distinct("year")
print(years)

[2017, 2012, 2001, 2007, 2015, 2009, 2014, 2016, 2018, 2002, 2003, 2008, 2011, 2010, 2006, 2004, 2013, 2005, 1992, 2019, 1995, 1999, 1998, 1991, 1997, 2000, 1994, 1993]

In [34]:
car_by_criteria = db.cars.find({"price_bin": "10k-20k","mileage_bin":"15k-30k","year":2013})

In [35]:
pprint.pprint(car_by_criteria[1])

{'': 3727,
 '_id': ObjectId('5b60b1fd88d2336166b76040'),
 'make': 'FIAT',
 'mileage': 20304,
 'mileage_bin': '15k-30k',
 'model': 500,
 'price': 10998.0,
 'price_bin': '10k-20k',
 'trim': 'Sport',
 'type': 'used',
 'year': 2013}